@page
@model List<zadanie1_19.Models.StudyTask>

<h2>Upcoming Study Tasks</h2>

<table>
    <thead>
        <tr>
            <th>Subject</th>
            <th>DeadLine</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Subject</td>
                <td>@task.DeadLine.ToShortDateString()</td>
                <td>@task.Completed</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Add", "Study")">Add New Task</a>